<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header">
  


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>
      
   <form class="my-4" id="filter-form" th:action="@{/store}" method="GET">
   <div class="container page-content">
      <div class="row gutters-3 my-5">

        <!-- Shop Filters -->
        <div class="col-lg-3 col-md-4">
          <div class="accordion accordion-caret accordion-sidebar d-none d-md-block">
           
            <div class="card">
              <div class="card-header">
                <a href="#filter-price" data-toggle="collapse" aria-expanded="true" aria-controls="filter-price" role="button" class="h6">
                  GIÁ
                </a>
              </div>
              <div id="filter-price" class="collapse show">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <input type="text" class="form-control form-control-sm rounded-pill text-center font-weight-bold bg-light mr-2 minw-0"
                           th:name="pricelow" th:value="${param.pricelow}">
                    <input type="text" class="form-control form-control-sm rounded-pill text-center font-weight-bold bg-light ml-2 minw-0"
                           th:name="pricehigh" th:value="${param.pricehigh}">                   
                  </div>
                </div>
              </div>
            </div>
                       
            <div class="card">
              <div class="card-header px-5 py-2 text-center">
                 <button type="submit" form="filter-form" class="btn btn-primary rounded-pill btn-block btn-sm">APPLY</button>              
              </div>
            </div>
          </div>   <!-- end of accordion sidebar -->         
                         
        </div>        
        <!-- /Shop Filters -->

        <div class="col-lg-9 col-md-8">                
          <!-- /Shop Toolbar -->
          <div class="card mb-3">
            <div class="row card-body d-flex justify-content-between align-items-start py-2">
            
              <div class="col-8 col-md-7 col-lg-6">
                <button type="button" class="btn btn-sm btn-outline-primary rounded-pill d-block d-md-none mb-2" data-toggle="modal" data-target="#filterModal">
                  <i data-feather="filter"></i> LỌC</button>
                <div class="input-group input-group-search input-group-sm mb-2">
                  
                  <input type="text" class="form-control border-0 bg-light input-search" placeholder="Tìm kiếm ..." 
                         th:name="search" th:value="${filters.search}">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="submit"><i data-feather="search"></i></button>
                  </div>
                </div>                                
              </div>    
              
              <div class="btn-group ml-3">
                <button type="button" class="btn btn-light btn-sm border rounded-pill" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">                        
                  <th:block th:switch="${filters.sort}">                    
                    <span id="dropdown-sort-text" th:case="'priceasc'">Giá Thấp - Cao</span>
                    <span id="dropdown-sort-text" th:case="'pricedesc'">Giá Cao - Thấp</span>
                    <span id="dropdown-sort-text" th:case="'alphasc'">Từ A - Z</span>
                    <span id="dropdown-sort-text" th:case="'alphdesc'">Từ Z - A</span>
                    <span id="dropdown-sort-text" th:case="*">Mới Nhất</span>
                  </th:block>      
                  <i data-feather="chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <button class="dropdown-item button-sort" type="button" value="newest">Mới Nhất</button>
                  <button class="dropdown-item button-sort" type="button" value="priceasc">Giá Thấp - Cao</button>
                  <button class="dropdown-item button-sort" type="button" value="pricedesc">Giá Cao - Thấp</button>
                  <button class="dropdown-item button-sort" type="button" value="alphasc">Từ A - Z</button>
                  <button class="dropdown-item button-sort" type="button" value="alphdesc">Từ Z - A</button>
                </div>
              </div> 
              <input id="input-sort" hidden="hidden" type="text" name="sort" th:value="${filters.sort}">                           
            </div>
          </div>
          <!-- Shop toolbar -->
          
          <!-- Shop Grid -->          
          <div class="grid grid-gap-3 grid-col-2 grid-col-lg-3 mb-3">
              <div class="card card-product" th:each="product : ${products}">
                <div class="card-body d-flex flex-column justify-content-between h-100">
              		<div th:each="image: ${product.productImages}">
              			<a style="text-decoration: none;" th:href="@{/product-detail?id=}+${product.id}">
              			<img class="card-img-top" th:src="${image.url}" alt="Caption image"></a>
              		</div>
              	<div>
              		<a style="text-decoration: none;" th:href="@{/product-detail?id=}+${product.id}" class="card-title truncate-1-lines" th:text="${product.name}"></a>
              		<div class="price mb"><span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}+' VNĐ'"></span></div>
              	</div>
              	
              </div>  
          	</div>      
          <!-- /Shop Grid -->
        </div>
        <!-- Pagination -->
        <div class="mt-4 float-right" >
            <div class="pagination">
              <div id="light-pagination"></div>
            </div>
        </div>
          <!-- /Pagination -->
      </div>
    </div> <!-- end container -->    

    <!-- Filter Modal -->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Shop Filters</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-0">
          </div>
        </div>
      </div>
    </div>
    <!-- /Filter Modal -->
        
    <input id="page" hidden="hidden" type="text" name="page" th:value="${filters.page}">     
    
    <input id="totalitems" hidden="hidden" type="text" th:value="${totalitems}">
    <input id="itemsperpage" hidden="hidden" type="text" th:value="${itemsperpage}">   
	</div>
    </form>
    
      
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>
  
  <script>    
    var sidebarContent = $('.accordion-sidebar').html()
    $('#filterModal').on('show.bs.modal', function () {
      // move filter contents to modal body
      $(this).find('.modal-body').html('<div class="accordion accordion-caret accordion-sidebar accordion-modal">'+sidebarContent+'</div>')
      // empty the sidebar filter contents
      $('.accordion-sidebar:not(.accordion-modal)').html('')
    }) 
    $('#filterModal').on('hidden.bs.modal', function () {
      $('.accordion-modal').remove() // remove modal filter contents
      $('.accordion-sidebar').html(sidebarContent) // move filter contents back to the sidebar
    })    
    $('.button-sort').click(function () {
      var value = $(this).val()
      var text = $(this).text()      
      $('#input-sort').val(value)
      $('#dropdown-sort-text').text(text)      
      $('#filter-form').submit()     
    }) 
    
	$(function() {    
		$('#light-pagination').pagination({
          items: $('#totalitems').val(),
          itemsOnPage: $('#itemsperpage').val(),
          currentPage: $('#page').val(),
          cssStyle: 'light-theme',
          useAnchors: false,
          prevText: "<",
          nextText: ">",
          displayedPages: 1,
          edges: 1,
          onPageClick: function(pageNumber) {
        	$('#page').val(pageNumber)
            $('#filter-form').submit()     
          }
    	});
	});
  </script>
</body>
</html>